#root {
  width: 100%; 
  margin: 0 auto;
}

.main {
  width: 95%;
  margin-left: auto;
}

.main-bottom {
  margin-bottom: 100px;
}

.breadcrumb-sm {
  font-size: .75em;
}

.small-text {
  font-size: .75em;
}

.Data-Dialog-overlay {
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
}

.Data-Dialog {
  box-sizing: border-box;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin: 15px;
  background-color: white;
  padding: 15px;
  border-radius: 4px;
  max-width: 99%;
}

#contact-map, #hole-map, #course-map {
  height: 75vh; 
  width: 97%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} 
