#root {
  width: 100%; 
  margin: 0 auto;
}

.main {
  width: 95%;
  margin-left: auto;
}

.main-bottom {
  margin-bottom: 100px;
}

.breadcrumb-sm {
  font-size: .75em;
}

.small-text {
  font-size: .75em;
}

#contact-map {
  height: 75vh; 
  width: 97%;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} 
